{% extends 'base.html.twig' %}

{% block title %}Gamme Ducati{% endblock %}

{% block page_title %}
    Tous les modèles Ducati
{% endblock %}
{% block body_class %}page-models{% endblock %}
{% block main %}
<form method="get" class="search-bar">

    <input type="text" name="search" placeholder="Rechercher un modèle...">

    <select name="categorie">
        <option value="">Toutes catégories</option>
        {% for cat in categories %}
            <option value="{{ cat }}">{{ cat }}</option>
        {% endfor %}
    </select>

    <select name="tri">
        <option value="">Trier par</option>
        <option value="name_asc">Nom A → Z</option>
        <option value="name_desc">Nom Z → A</option>
        <option value="power_desc">Puissance</option>
        <option value="year_desc">Année</option>
    </select>

    <button class="ducati-btn-1">Filtrer</button>

    <a href="{{ path('models') }}" class="ducati-btn-1">Reset</a>

</form>
<div class="annonces-container">

    {% for moto in motos %}

        <article class="annonce-card">

            <div class="annonce-image">
                <img src="{{ asset('uploads/motos/' ~ moto.image) }}" alt="{{ moto.name }}">
            </div>

            <div class="annonce-body">
                <h3 class="annonce-title">{{ moto.name }}</h3>

                <div class="annonce-details">

                    <div class="annonce-detail">
                        <span class="label">Marque</span>
                        <span class="value">{{ moto.brand }}</span>
                    </div>

                    <div class="annonce-detail">
                        <span class="label">Catégorie</span>
                        <span class="value">{{ moto.category }}</span>
                    </div>
                    <div class="annonce-detail">
                        <span class="label">Cylindrée</span>
                        <span class="value">{{ moto.displacement }} cc</span>
                    </div>
                    <div class="annonce-detail">
                        <span class="label">Puissance</span>
                        <span class="value">{{ moto.power }} ch</span>
                    </div>
                    <div class="annonce-detail">
                        <span class="label">Année</span>
                        <span class="value">{{ moto.year }}</span>
                    </div>
                </div>
            </div>
        </article>
    {% else %}
        <p>Aucun modèle Ducati trouvé.</p>
    {% endfor %}
</div>
<div class="center-buttons">
    <button onclick="history.back()" class="ducati-btn">
        ←  Retour
    </button>

    <a href="#" class="ducati-btn">
        ⬆ Haut de page
    </a>
</div>
{% endblock %}