{% extends 'base.html.twig' %}

{% block title %}Annonces motos{% endblock %}

{% block main %}

<form method="get" class="search-bar">

    <input type="text" name="search"
           placeholder="Rechercher un modèle..."
           value="{{ app.request.get('search') }}">

    <select name="marque">
        <option value="">Toutes marques</option>

        {% for m in marques %}
            <option value="{{ m }}"
                {% if app.request.get('marque') == m %}selected{% endif %}>
                {{ m }}
            </option>
        {% endfor %}
    </select>

    <input type="number" name="prixMax"
           placeholder="Prix max"
           value="{{ app.request.get('prixMax') }}">

    <select name="tri">
        <option value="">Trier par</option>
        <option value="prix_asc">Prix croissant</option>
        <option value="prix_desc">Prix décroissant</option>
        <option value="annee_desc">Année</option>
    </select>

    <button class="ducati-btn-1">Rechercher</button>

    <a href="{{ path('annonce_list') }}" class="ducati-btn-1">
        Reset
    </a>

</form>


<div class="annonces-container">

{% for annonce in annonces %}

<a href="{{ path('annonce_show', { id: annonce.id }) }}" class="annonce-link">

<article class="annonce-card">

<div class="annonce-image">
{% if annonce.image %}
<img src="{{ asset('uploads/' ~ annonce.image) }}">
{% endif %}
</div>

<div class="annonce-body">

<h3>{{ annonce.titre }}</h3>

<p>{{ annonce.marque }} — {{ annonce.modele }}</p>

<p>{{ annonce.annee }}</p>

{% if annonce.kilometrage %}
<p>{{ annonce.kilometrage }} km</p>
{% endif %}

<div class="annonce-price">
{{ annonce.prix }} €
</div>

</div>
</article>
</a>

{% else %}
<p>Aucune annonce trouvée.</p>
{% endfor %}

</div>


<div class="center-buttons">

<button onclick="history.back()" class="ducati-btn">
← Retour
</button>

<a href="#" class="ducati-btn">
⬆ Haut de page
</a>

</div>

{% endblock %}
