{% extends 'base.html.twig' %}

{% block title %}Panel Administrateur{% endblock %}

{% block page_title %}
    Panel Administrateur
{% endblock %}

{% block main %}

<div class="annonces-container">

    {% for annonce in annonces %}

        <article class="annonce-card">

            <div class="annonce-image">
                {% if annonce.image %}
                    <img src="{{ asset('uploads/' ~ annonce.image) }}" alt="Moto">
                {% else %}
                    <p>Aucune image</p>
                {% endif %}
            </div>

            <div class="annonce-body">

                <h3 class="annonce-title">{{ annonce.titre }}</h3>

                <div class="annonce-details">

                    <div class="annonce-detail">
                        <span class="label">Marque</span>
                        <span class="value">{{ annonce.marque }}</span>
                    </div>

                    <div class="annonce-detail">
                        <span class="label">Modèle</span>
                        <span class="value">{{ annonce.modele }}</span>
                    </div>

                    <div class="annonce-detail">
                        <span class="label">Année</span>
                        <span class="value">{{ annonce.annee }}</span>
                    </div>

                    <div class="annonce-detail">
                        <span class="label">Auteur</span>
                        <span class="value">{{ annonce.auteur.prenom }} {{ annonce.auteur.nom }}</span>
                    </div>
                </div>

                <div class="annonce-price">
                    {{ annonce.prix }} €
                </div>

                <div class="annonce-actions">

                    <a href="{{ path('annonce_edit', { id: annonce.id }) }}"
                       class="ducati-btn">
                        Modifier
                    </a>

                    <form method="post"
                          action="{{ path('annonce_delete', { id: annonce.id }) }}"
                          onsubmit="return confirm('Supprimer cette annonce ?');">

                        <input type="hidden"
                               name="_token"
                               value="{{ csrf_token('delete' ~ annonce.id) }}">

                        <button class="ducati-btn">
                            Supprimer
                        </button>
                    </form>

                </div>
            </div>
        </article>
    {% else %}
        <p>Aucune annonce pour le moment.</p>
    {% endfor %}
</div>
<div class="center-buttons">
    <button onclick="history.back()" class="ducati-btn">
        ←  Retour
    </button>

    <a href="#" class="ducati-btn">
        ⬆ Haut de page
    </a>
</div>
{% endblock %}
