{% extends 'base.html.twig' %}

{% block title %}Ajouter une Ducati{% endblock %}
{% block page_title %}Ajouter une moto Ducati{% endblock %}

{% block main %}

<div class="card highlight">

    {# Message flash #}
    {% for message in app.flashes('success') %}
        <div class="flash-message">
            {{ message }}
        </div>
    {% endfor %}

    {# Formulaire #}
    {{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}

        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.engine) }}
        {{ form_row(form.price) }}
        {{ form_row(form.year) }}

        <button type="submit">Ajouter la moto</button>

    {{ form_end(form) }}

</div>

{% endblock %}
